<div>
  <h1>Region {{region_n}}</h1>
  <h3>Puntos Turisticos</h3>
  <div>
      <button (click)="filtrar(0)" id="0">Ciudades</button>
      <button (click)="filtrar(1)" id="1">Pueblos</button>
      <button (click)="filtrar(2)" id="2">Areas_Protegidas</button>
      <button (click)="filtrar(3)" id="3">Playas</button>   
  </div>
  <div *ngFor="let punto of puntos">
    <div style="border:2px solid black">
      <button (click)="irAHospedajes(punto.nombre)"><h4>{{punto.nombre}}</h4></button>
      <p>**imagen**</p>
      <p> Categorias: {{punto.categoriasInterno_no_usar}}</p>
    </div>
  </div>
</div>
