<h1>Panel del admin</h1>
<div>
  <div>
    <h2>Punto Turistico</h2>
    <a [routerLink]="['/alta_punto']">Alta punto turistico</a>
  </div>
  <div>
    <h2>Hospedaje</h2>
    <a [routerLink]="['/alta_hotel']">Alta hospedaje</a> <br />
    <a [routerLink]="['/borrar_hotel']">Borrar hospedaje</a><br />
    <a [routerLink]="['/modificar_hotel']">Modificar capacidad hospedaje</a><br />
  </div>
  <div>
    <h2>Reservas</h2>
    <a [routerLink]="['/modificar_reserva']">Cambiar estado reserva</a><br />
  </div>
</div>
